api/node_modules
api/.env
readers-frontend/node_modules
readers-frontend/.env
editors-frontend/node_modules
editors-frontend/.env
todo.md
editors-frontend/todo.md
readers-frontend/todo.md
curl-commands.txt

# Logs
editors-frontend/logs
editors-frontend/*.log
editors-frontend/npm-debug.log*
editors-frontend/yarn-debug.log*
editors-frontend/yarn-error.log*
editors-frontend/pnpm-debug.log*
editors-frontend/lerna-debug.log*

editors-frontend/node_modules
editors-frontend/dist
editors-frontend/dist-ssr
editors-frontend/*.local

# Editor directories and files
editors-frontend/.vscode/*
editors-frontend/!.vscode/extensions.json
editors-frontend/.idea
editors-frontend/.DS_Store
editors-frontend/*.suo
editors-frontend/*.ntvs*
editors-frontend/*.njsproj
editors-frontend/*.sln
editors-frontend/*.sw?

# Logs
readers-frontend/logs
readers-frontend/*.log
readers-frontend/npm-debug.log*
readers-frontend/yarn-debug.log*
readers-frontend/yarn-error.log*
readers-frontend/pnpm-debug.log*
readers-frontend/lerna-debug.log*

readers-frontend/node_modules
readers-frontend/dist
readers-frontend/dist-ssr
readers-frontend/*.local

# Editor directories and files
readers-frontend/.vscode/*
readers-frontend/!.vscode/extensions.json
readers-frontend/.idea
readers-frontend/.DS_Store
readers-frontend/*.suo
readers-frontend/*.ntvs*
readers-frontend/*.njsproj
readers-frontend/*.sln
readers-frontend/*.sw?
