* {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: gold;
}

nav ul {
	list-style: none;
	display: flex;
}

.errors {
	color: red;
}
